PORT=3010
HOST=127.0.0.1

WORLD_APP_ID=app_replace_me
WORLD_RP_ID=rp_replace_me
WORLD_RP_SIGNING_KEY=0xreplace_me
WORLD_ALLOWED_ACTIONS=create-auction
WORLD_RP_TTL_SECONDS=300
# WORLD_VERIFY_API_BASE_URL=https://developer.world.org/api/v4/verify
